<div class="container-fluid" style="padding: 100px">
  <div class="text-center">
    <div class="row">
      <div class="col-">
      <div class="text-left">
       <%= image_tag "boy picking apple.png", width: 400,height: 500 %>
        </div>
        </div>
  
<div class="col">
  <div class="jumbotron">
    <div class="container-fluid">
      <h2 class="display-4">Quest for Code</h2>
      <hr class="my-4">
       <p class="lead">The computer science students are mostly faced with difficulties learning the algorithm topic courses. Only listening to the topic from the teacher or just writing makes the learning volatile. Instead of listening or writing, if there is something visual, it would be more a more permanent learning principle because visuality increases the learning potential and the time for learning is minimized.An educational convenience is provided for the subject of tree traversal algorithms. Tree traversal algorithms are one of the most basic and confused concepts in algorithms and programming courses in computer science. Quest for Code was established to teach and learn the subject easier.</p>   
       </div>
   </div>
</div>
     
