<div class="container-fluid" style="padding: 100px"> <!-padding for the UI->
  <div class="text-center"> <!-center text in columns for the UI->
    <div class="row">
      <div class="col-">
      <div class="text-left"> <!-move image to the left side of this column for the UI->
       <%= image_tag "boy picking apple.png", width: 400,height: 500 %> <!-image->
        </div>
        </div>
  
<div class="col">
  <div class="jumbotron"> <!- Jumbotron effect the UI->
    <div class="container-fluid">
      <h2 class="display-4">Quest for Code</h2>
      <hr class="my-4"> 
      <!- description of the motivation behind the Quest for Code game ->
       <p class="lead">Computer science students often face difficulties learning the  concepts of algorithms, 
          especially recursive algorithms. Sometimes, traditional learning methods are not effective in helping 
          students fully understand these vital concepts. Instead of struggling to learn by these traditional methods, 
          students may be more receptive to a more visual, interactive method of learning Computer Science concepts. 
          Our game, Quest for Code, provides an alternative way to learn about and master recursive tree traversal 
          algorithms. Recursive algorithms and tree traversal are two of the most basic, and often confusing, concepts 
          in algorithms and programming courses. Quest for Code was designed to help teach these concepts and improve 
          the learning experience.</p>   
       </div>
   </div>
</div>
     
