<body class="game-bg"> <!-this shows the background image on each page and the class is in application.scss->


<div style="padding: 20px"> <!-padding for the UI->
  <div class="row no-gutters justify-content-md-center"> <!-centers columns with no space between them->
    <div class="col"> <!-first column->
      <div class="over-c-end swing-image-c-move-55"><%= image_tag "climber_right.png", height: 100 %> </div> <!-image for the climber, over-c-end is the position of the image, swing-image-c-move-55 is the animation the image does->
      <div class="under"><%= image_tag "challenge_level_33.png", height: 550 %></div> <!-image for the tree, under is the position of the image->
    </div>
    
<div style="padding: 120px"> <!-padding for the UI->
 <div class="col" align="center"> <!-second column->
  <h3>Challenge Level Cleared</h3> <!-tells player they've won the Challenge level->
    <div class="col "> <!-third column->
      <div class="alert alert-info" role="alert"> <!-alert for UI->
        <h4 class="alert-heading">Congratulations!</h4> <!-tells player they've won the Challenge level->
          <p>You've won!</p> <!-tells player they've won the Challenge level->
           <hr>
            <h4 class="mb-0">Inorder Traversal: 4, 7, 11, 2, 1, 5, 6, 8, 10, 3, 9</h4> <!-tells player the order of the nodes->
           </div>
         <div class="float-container" style="padding: 10px"> <!- puts buttons into a container ->
            <div class="float-child" style="display: inline-block"> <!- display buttons inline ->
                <%= button_to "Play Again",level_path, method: :get, class: "btn btn-success btn-lg" %> <!- link to return to level view page ->
            </div>
            <div class="float-child" style="display: inline-block"> <!- display buttons inline ->
                <%= link_to 'Exit', start_path, class: "btn btn-success btn-lg" %> <!- link to return to start view page ->
            <div>
     </div>
    </div>
  </div>
</div>