<div class="text-center">
<p>Home|About|Profile</p1>

<h1><%= button_to "Instruction",instruction1_path, method: :get, class: "btn btn-success btn-lg" %></h1>
<h2><%= button_to "I'm ready",start_path, method: :get, class: "btn btn-success btn-lg" %></h2>
<%= image_tag "Code.png", width: 400, height: 300 %>     <%= image_tag "Instruction6.png", height: 300 %>
</div>

