<div class="text-center">
<p>Home|About|Profile</p>
</div>

<h1 class="text-center"><button type="button" class="btn btn-success btn-lg">Instruction</button></h1>
<h2 class="text-right"><button type="button" class="btn btn-success btn-lg">Continue</button></h2>

<%= image_tag "Code.png", height: 300 %><%= image_tag "Instruction.png", height: 300 %>
