<div class="container" style="padding: 20px">

        <h2 class="text-center"><button type="button" class="btn btn-success btn-lg">Start Game</button></h2>
        <h2 class="text-center"><button type="button" class="btn btn-success btn-lg">Options</button></h2>
        <h2 class="text-center"><button type="button" class="btn btn-success btn-lg">Exit</button></h2>
</div>
      <lsection>
        <div class="text-left"><%= image_tag "boy picking apple.png", height: 400 %>
        </div>
    </lsection>
     


       