<div class="container" style="padding: 100px">
    <div class="row">
      <div class="col">
        <div>
        <%= image_tag "boy picking apple.png", width: 400,height: 500 %>
        </div>
      </div>
  
      <div class="col">
       <h1 class="text-center"><%= button_to "START GAME",instruction_path, method: :get, class: "btn btn-success btn-lg" %></h1>
       <h1 class="text-center"><%= button_to "OPTIONS",start_path, method: :get, class: "btn btn-success btn-lg" %></h1>
       <h1 class="text-center"><%= button_to "EXIT",start_path, method: :get, class: "btn btn-success btn-lg" %></h1>
      </div>
    </div>
</div>