<div class="text-center">
</div>

<h1><%= button_to "Instruction",instruction_path, method: :get, class: "btn btn-success btn-lg" %></h1>
<h2><%= button_to "Continue",instruction4_path, method: :get, class: "btn btn-success btn-lg" %></h2>
<%= image_tag "Inorder.PNG", width: 400, height: 500 %>     <%= image_tag "Instruction3.png", width: 400, height: 500 %>

