<body class="game-bg"> <!-this shows the background image on each page and the class is in application.scss->


<div style="padding: 20px"><!-padding for the UI->
  <div class="row no-gutters ">
    <div class="col ">
      <div class="over-d44 swing-image-move107" id="fall"><%= image_tag "climber_right.png", height: 100 %> </div>
      <div class="under"><%= image_tag "Difficult26.png", height: 550 %></div>
    </div>
    
    

    <div class="col ">
      <div class="float-container" style="padding: 10px" >
        <div class="row-center float-child" style="display: inline-block ">
            <div>
                <button id="help" class="btn btn-success btn-lg">Hint</button><!-button for hint function in game->
                    <script>
                    function hint() {
                    alert('No more apples on this branch! Move back to safety');
                    }
                    document.getElementById("help").addEventListener("click", hint);
                    </script><!-this script activates when you click hint on the game levels and displays the alert above->
            </div>
        </div>
        <div class="float-child" style="display: inline-block">
            <%= link_to 'Exit', start_path, class: "btn btn-success btn-lg" %><!-button to go to start page->
        </div>
      </div>
      <div >
            <%= image_tag "new_playtest_algo3.png", height: 300 %><!-image for algorithm->
      </div>
      <div class="card border-dark mb-3" style="max-width: 29.5rem;"><!-This is the output box and the size and what type we used->
        <div class="card-header">Console Output</div>
        <div class="table-wrap">
            <p class="card-body">
            check if there is an apple<br>
            climb branch to the left of 8<br>
            check if there is an apple<br>
            climb branch to the left of 3<br>
            check if there is an apple<br>
            climb branch to the left of 7<br>
            check if there is an apple<br>
            7<br>
            climb branch to the right of 7<br>
            check if there is an apple<br>
            3<br>
            climb branch to the right of 3<br>
            check if there is an apple<br>
            climb branch to the left of 5<br>
            check if there is an apple<br>
            climb branch to the left of 2<br>
            check if there is an apple<br>
            2<br>
            climb branch to the right of 2<br>
            check if there is an apple<br>
            5<br>
            climb branch to the right of 5<br>
            check if there is an apple<br>
            climb branch to the left of 1<br>
            check if there is an apple<br>
            1<br>
            climb branch to the right of 1<br>
            check if there is an apple<br>
            8<br>
            climb branch to the right of 8<br>
            check if there is an apple<br>
            climb branch to the left of 4<br>
            check if there is an apple<br>
            4<br>
            climb branch to the right of 4<br>
            check if there is an apple<br>
            climb branch to the left of 6<br>
            check if there is an apple<br>
            climb branch to the left of 9<br>
            check if there is an apple<br>
            9<br>
            climb branch to the right of 9<br>
            check if there is an apple</p>
        </div>
        <div class="input-group mb-3" style="padding: 20px">
        <div class="input-group-prepend">
            <input type="text" name="inputanswer" id="inputanswer" autocomplete="off"  placeholder="Enter your decision!" onkeydown="redirect(this)">
        <script>
            function redirect(ele) {
                if(event.key === 'Enter') {
                    if(ele.value === '6')
                         window.location.href = 'http://localhost:3000/difficult_levels45/1';
                    else
                        document.getElementById("fall").className = "d-fall44"
                        setTimeout(() => alert("Oops, wrong move!"),1000);
                        setTimeout(() => window.location.href = 'http://localhost:3000/difficult_levels/1', 1100);
                }
            }
        </script><!-this script tells you the error you make and also makes the animation of the fall to activate classname is the animation which you can find in difficult_level.scss and 
        and redirects you to the beginning of the level->
        </div>
    </div>
  </div>
</div>