<body class="game-bg"> <!-this shows the background image on each page and the class is in application.scss->


<div style="padding: 20px"><!-padding for the UI->
  <div class="row no-gutters "><!-no padding in between the columns for the UI->
    <div class="col "><!-first column->
      <div class="over-d18 swing-image-move101" id="fall"><%= image_tag "climber_left.png", height: 100 %> </div><!-the position and animation of the climber->
      <div class="under"><%= image_tag "Difficult12.png", height: 550 %></div><!-image for game tree, under is the position of the tree->
    </div>
    
    

    <div class="col "><!-second column->
      <div class="float-container" style="padding: 10px" ><!-puts buttons in container->
        <div class="row-center float-child" style="display: inline-block "><!-display buttons inline->
            <div>
                <button id="help" class="btn btn-success btn-lg">Hint</button><!-button for hint function in game->
                    <script>
                    function hint() {
                    alert('No more apples on this branch! Move back to safety!'); // hint message
                    }
                    document.getElementById("help").addEventListener("click", hint);
                    </script><!-this script activates when you click hint on the game levels and displays the alert above->
            </div>
        </div>
        <div class="float-child" style="display: inline-block"><!-display buttons inline->
            <%= link_to 'Exit', start_path, class: "btn btn-success btn-lg" %><!-button to go to start page->
        </div>
      </div>
      <div >
            <%= image_tag "new_playtest_algo3.png", height: 300 %><!-image for algorithm->
      </div>
      <div class="card border-dark mb-3" style="max-width: 29.5rem;"><!-This is the output box and the size and what type we used->
        <div class="card-header">Console Output</div> <!-Console output appears below->
        <div class="table-wrap">
            <p class="card-body">
            check if there is an apple<br>
            climb branch to the left of 8<br>
            check if there is an apple<br>
            climb branch to the left of 3<br>
            check if there is an apple<br>
            climb branch to the left of 7<br>
            check if there is an apple<br>
            7<br>
            climb branch to the right of 7<br>
            check if there is an apple<br>
            3<br>
            climb branch to the right of 3<br>
            check if there is an apple<br>
            climb branch to the left of 5<br>
            check if there is an apple<br>
            climb branch to the left of 2<br>
            check if there is an apple</p>
        </div>
        <div class="input-group mb-3" style="padding: 20px"><!-Input group to accept player's input->
        <div class="input-group-prepend">
            <input type="text" name="inputanswer" id="inputanswer" autocomplete="off"  placeholder="Enter your decision!" onkeydown="redirect(this)">
        <script> // this script activates when you click enter input on the game levels and displays an alert if the wrong input was entered
            function redirect(ele) {
                if(event.key === 'Enter') { // event activated by user pressing 'Enter'
                    if(ele.value === '2') // checks if correct answer was entered by player
                         window.location.href = 'http://localhost:3000/difficult_levels19/1'; // if correct, redirected to next page
                    else // activates falling animation, displays alert error message, and redirects to first show page of difficult level
                        document.getElementById("fall").className = "d-fall18"
                        setTimeout(() => alert("Oops, wrong move!"),1000);
                        setTimeout(() => window.location.href = 'http://localhost:3000/difficult_levels/1', 1100);
                }
            }
        </script><!-this script tells you the error you make and also makes the animation of the fall to activate classname is the animation which you can find in difficult_level.scss and 
        and redirects you to the beginning of the level->
        </div>
    </div>
  </div>
</div>