<body class="game-bg">


<div style="padding: 20px">
  <div class="row no-gutters ">
    <div class="col ">
      <div class="over-c4 c-move-2" id="fall"><%= image_tag "climber_left.png", height: 100 %> </div>
      <div class="under"><%= image_tag "challenge_level_3.png", height: 550 %></div>
    </div>
    
    

    <div class="col ">
      <div class="float-container" style="padding: 10px" >
        <div class="row-center float-child" style="display: inline-block ">
            <div>
                <button id="help" class="btn btn-success btn-lg">Hint</button>
                    <script>
                    function hint() {
                    alert('Look for apples');
                    }
                    document.getElementById("help").addEventListener("click", hint);
                    </script>
            </div>
        </div>
        <div class="float-child" style="display: inline-block">
            <%= link_to 'Exit', start_path, class: "btn btn-success btn-lg" %>
        </div>
      </div>
      <div >
            <%= image_tag "new_playtest_algo3.png", height: 300 %>
      </div>
      <div class="card border-dark mb-3" style="max-width: 29.5rem;">
        <div class="card-header">Console Output</div>
        <div class="table-wrap">
            <p class="card-body">check if there is an apple<br>
            climb branch to the left of 5<br>
            check if there is an apple</p>
      </div>
      <div class="input-group mb-3" style="padding: 20px">
      <div class="input-group-prepend">
      <input type="text" name="inputanswer" id="inputanswer" autocomplete="off"  placeholder="Enter your decision!" onkeydown="redirect(this)">
      <script>
          function redirect(ele) {
              if(event.key === 'Enter') {
                  if(ele.value === 'climb branch to the left of 1')
                       window.location.href = 'http://localhost:3000/challenge_levels5/1';
                  else
                      document.getElementById("fall").className = "c-fall4"
                      setTimeout(() => alert("Oops, wrong move!"),1000);
                      setTimeout(() => window.location.href = 'http://localhost:3000/challenge_levels/1', 1100);
              }
          }
      </script>
      </div>
    </div>
  </div>
</div>



