
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 * background-image: url(/assets/tree.png);
 *= require_tree .
 *= require_self
 *= require animate
 */

 @import "../node_modules/bootswatch/dist/flatly/variables";
 @import "../node_modules/bootstrap/scss/bootstrap";
 @import "../node_modules/bootswatch/dist/flatly/bootswatch";

html {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
}

body {
  min-height: 100%;
  background-image: image-url('/assets/game_background.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: left left;
  background-attachment: fixed;
}

.game-bg {
  min-height: 100%;
  background: image-url('/assets/game_background.jpg');
  background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: left left;
  background-attachment: fixed;
}

h1 {
    text-align: left;
    margin: 10px;
    padding: 30px;
}

.level {
  position: relative;
  left: 180px;
  top: 30px;
  font-weight: bold;
}

/*
.over-node1 {
  z-index: 2;
  position: absolute;
  left: 275px;
  top: -5px;
  font-weight: bold;
  font-size: 350%;
}

.over-node2 {
  z-index: 2;
  position: absolute;
  left: 180px;
  top: 35px;
  font-weight: bold;
  font-size: 350%;
}

.over-node3 {
  z-index: 2;
  position: absolute;
  left: 365px;
  top: -45px;
  font-weight: bold;
  font-size: 350%;
}

*/

.over {
  z-index: 2;
  position: relative;
  left: 210px;
  top: 50px;
}

.over3 {
  z-index: 2;
  position: relative;
  left: 160px;
  top: 150px;
}

.over4 {
  z-index: 2;
  position: relative;
  left: 120px;
  top: 190px;
}

.over5 {
  z-index: 2;
  position: relative;
  left: 80px;
  top: 260px;
}

.over6 {
  z-index: 2;
  position: relative;
  left: 50px;
  top: 360px;
}

.over8 {
  z-index: 2;
  position: relative;
  left: 180px;
  top: 250px;
}

.over9 {
  z-index: 2;
  position: relative;
  left: 210px;
  top: 360px;
}

.over11 {
  z-index: 2;
  position: relative;
  left: 270px;
  top: 130px;
}

.over12 {
  z-index: 2;
  position: relative;
  left: 300px;
  top: 170px;
}

.over13 {
  z-index: 2;
  position: relative;
  left: 250px;
  top: 250px;
}

.over14 {
  z-index: 2;
  position: relative;
  left: 220px;
  top: 350px;
}

.over15 {
  z-index: 2;
  position: relative;
  left: 270px;
  top: 280px;
}

.over16 {
  z-index: 2;
  position: relative;
  left: 370px;
  top: 260px;
}

.over-end {
  z-index: 2;
  position: relative;
  left: 390px;
  top: 350px;
}

.under {
  z-index: -2;
  /* position: relative;
  margin-top: -50%; */
}

.no-gutters {
  margin-right: 0;
  margin-left: 0;

  > .col,
  > [class*="col-"] {
    padding-right: 0;
    padding-left: 0;
  }
}

.alert-dismissible {
  padding-left: $close-font-size + $alert-padding-x * 2;
}

@keyframes bounceIn {
  0% {
    transform: scale(0.1);

  }
  60% {
    transform: scale(1.2);
    opacity: 1;
  }
  100% {
    transform: scale(1);
  }
}

@keyframes slideInRight {
  0% {

    -webkit-transform: translateX(1000px);
    -ms-transform: translateX(1000px);
    transform: translateX(1000px);
  }

  100% {
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
  }
}

@keyframes slideInDown {
  0% {

    -webkit-transform: translateY(-1000px);
    -ms-transform: translateY(-1000px);
    transform: translateY(-1000px);
  }

  100% {
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
}

@keyframes swinging {
  0% {
    -webkit-transform: rotate(10deg);
    -ms-transform: rotate(10deg);
    transform: rotate(10deg);
  }

  50% {
    -webkit-transform: rotate(-5deg);
    -ms-transform: rotate(-5deg);
    transform: rotate(-5deg);
  }

  100% {
    -webkit-transform: rotate(10deg);
    -ms-transform: rotate(10deg);
    transform: rotate(10deg);
  }
}

@keyframes moveDown1 {
  0% {
    left: 210px;
    top: 50px;
    }
  10% {
    left: 185px;
    top: 100px;
    }
  100% {
    left: 160px;
    top: 150px;
    }
}

@keyframes moveDown2 {
  0% {
    left: 160px;
    top: 150px;
    }
  10% {
    left: 140px;
    top: 170px;
    }
  100% {
    left: 120px;
    top: 190px;
    }
}

@keyframes moveDown3 {
  0% {
    left: 120px;
    top: 190px;
    }
  10% {
    left: 110px;
    top: 235px;
    }
  100% {
    left: 80px;
    top: 260px;
    }
}

@keyframes moveUp1 {
  0% {
    left: 50px;
    top: 360px;
    }
  50% {
    left: 125px;
    top: 235px;
    }
  100% {
    left: 150px;
    top: 190px;
    }
}

@keyframes moveDown4 {
  0% {
    left: 80px;
    top: 260px;
    }
  50% {
    left: 65px;
    top: 275px;
    }
  100% {
    left: 50px;
    top: 360px;
    }
}

@keyframes moveDown5 {
  0% {
    left: 150px;
    top: 190px;
    }
  10% {
    left: 175px;
    top: 225px;
    }
  100% {
    left: 180px;
    top: 250px;
    }
}

@keyframes moveDown6 {
  0% {
    left: 180px;
    top: 250px;
    }
  10% {
    left: 200px;
    top: 305px;
    }
  100% {
    left: 210px;
    top: 360px;
    }
}

@keyframes moveUp2 {
  0% {
    left: 210px;
    top: 360px;
    }
  30% {
    left: 150px;
    top: 190px;
    }
  60% {
    left: 160px;
    top: 150px;
    }
  100% {
    left: 210px;
    top: 50px;
    }
}

@keyframes moveDown7 {
  0% {
    left: 210px;
    top: 50px;
    }
  10% {
    left: 255px;
    top: 90px;
    }
  100% {
    left: 270px;
    top: 130px;
    }
}

@keyframes moveDown8 {
  0% {
    left: 270px;
    top: 130px;
    }
  10% {
    left: 285px;
    top: 150px;
    }
  100% {
    left: 300px;
    top: 170px;
    }
}

@keyframes moveDown9 {
  0% {
    left: 300px;
    top: 170px;
    }
  10% {
    left: 275px;
    top: 195px;
    }
  100% {
    left: 250px;
    top: 250px;
    }
}

@keyframes moveDown10 {
  0% {
    left: 250px;
    top: 250px;
    }
  10% {
    left: 235px;
    top: 275px;
    }
  100% {
    left: 220px;
    top: 350px;
    }
}

@keyframes moveUp3 {
  0% {
    left: 220px;
    top: 350px;
    }
  50% {
    left: 260px;
    top: 260px;
    }
  100% {
    left: 300px;
    top: 170px;
    }
}

@keyframes moveDown11 {
  0% {
    left: 300px;
    top: 170px;
    }
  50% {
    left: 345px;
    top: 215px;
    }
  100% {
    left: 370px;
    top: 260px;
    }
}

@keyframes moveDown12 {
  0% {
    left: 370px;
    top: 260px;
    }
  50% {
    left: 380px;
    top: 305px;
    }
  100% {
    left: 390px;
    top: 350px;
    }
}

.first-Element {
  -webkit-animation-duration: 4s;
  animation-duration: 4s;
  -webkit-animation-name: bounceIn;
  animation-name: bounceIn;
  -webkit-animation-delay: 0s;
  animation-delay: 0s;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
  animation-fill-mode: both;
}

.second-Element {
  -webkit-animation-duration: 3s;
  animation-duration: 3s;
  -webkit-animation-name: slideInRight;
  animation-name: slideInRight;
  -webkit-animation-delay: 2s;
  animation-delay: 2s;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
  animation-fill-mode: both;
}

.third-Element {
  -webkit-animation-duration: 3s;
  animation-duration: 3s;
  -webkit-animation-name: slideInDown;
  animation-name: slideInDown;
  -webkit-animation-delay: 2s;
  animation-delay: 2s;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
  animation-fill-mode: both;
}

.swing-image-fourth-move{
  -webkit-transform-origin: 5% 0;
  transform-origin: 5% 0;
  -webkit-animation: moveDown4 3s ease-in 0s 1 normal both, swinging 3.5s ease-in-out 3s forwards infinite;
  animation: moveDown4 3s ease-in 0s 1 normal both, swinging 3.5s ease-in-out 3s forwards infinite;
}

.swing-image-seventh-move{
  -webkit-transform-origin: 5% 0;
  transform-origin: 5% 0;
  -webkit-animation: moveDown6 3s ease-in 0s 1 normal both, swinging 3.5s ease-in-out 3s forwards infinite;
  animation: moveDown6 3s ease-in 0s 1 normal both, swinging 3.5s ease-in-out 3s forwards infinite;
}

.swing-image-twelfth-move{
  -webkit-transform-origin: 5% 0;
  transform-origin: 5% 0;
  -webkit-animation: moveDown10 3s ease-in 0s 1 normal both, swinging 3.5s ease-in-out 3s forwards infinite;
  animation: moveDown10 3s ease-in 0s 1 normal both, swinging 3.5s ease-in-out 3s forwards infinite;
}

.swing-image-fifteenth-move{
  -webkit-transform-origin: 5% 0;
  transform-origin: 5% 0;
  -webkit-animation: moveDown12 3s ease-in 0s 1 normal both, swinging 3.5s ease-in-out 3s forwards infinite;
  animation: moveDown12 3s ease-in 0s 1 normal both, swinging 3.5s ease-in-out 3s forwards infinite;
}

.swing-image{
  -webkit-transform-origin: 5% 0;
  transform-origin: 5% 0;
  -webkit-animation: swinging 3.5s ease-in-out forwards infinite;
  animation: swinging 3.5s ease-in-out forwards infinite;
}

.first-move {
  -webkit-animation-duration: 3s;
  animation-duration: 3s;
  -webkit-animation-name: moveDown1;
  animation-name: moveDown1;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
  animation-fill-mode: both;
}

.second-move {
  -webkit-animation-duration: 3s;
  animation-duration: 3s;
  -webkit-animation-name: moveDown2;
  animation-name: moveDown2;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
  animation-fill-mode: both;
}

.third-move {
  -webkit-animation-duration: 3s;
  animation-duration: 3s;
  -webkit-animation-name: moveDown3;
  animation-name: moveDown3;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
  animation-fill-mode: both;
}

.fifth-move {
  -webkit-animation-duration: 3s;
  animation-duration: 3s;
  -webkit-animation-name: moveUp1;
  animation-name: moveUp1;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
  animation-fill-mode: both;
}

.sixth-move {
  -webkit-animation-duration: 3s;
  animation-duration: 3s;
  -webkit-animation-name: moveDown5;
  animation-name: moveDown5;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
  animation-fill-mode: both;
}

.eighth-move {
  -webkit-animation-duration: 3s;
  animation-duration: 3s;
  -webkit-animation-name: moveUp2;
  animation-name: moveUp2;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
  animation-fill-mode: both;
}

.ninth-move {
  -webkit-animation-duration: 3s;
  animation-duration: 3s;
  -webkit-animation-name: moveDown7;
  animation-name: moveDown7;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
  animation-fill-mode: both;
}

.tenth-move {
  -webkit-animation-duration: 3s;
  animation-duration: 3s;
  -webkit-animation-name: moveDown8;
  animation-name: moveDown8;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
  animation-fill-mode: both;
}

.eleventh-move {
  -webkit-animation-duration: 3s;
  animation-duration: 3s;
  -webkit-animation-name: moveDown9;
  animation-name: moveDown9;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
  animation-fill-mode: both;
}

.thirteenth-move {
  -webkit-animation-duration: 3s;
  animation-duration: 3s;
  -webkit-animation-name: moveUp3;
  animation-name: moveUp3;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
  animation-fill-mode: both;
}

.fourteenth-move {
  -webkit-animation-duration: 3s;
  animation-duration: 3s;
  -webkit-animation-name: moveDown11;
  animation-name: moveDown11;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
  animation-fill-mode: both;
}

table {
  border-collapse: collapse;
}

th, td {
  border: 1px solid black;
  padding: 15px 100px;
}

.table-wrap {
height: 222px;
overflow-y: scroll;
display: inline-block;
}





  

  
 
