
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 * background-image: url(/assets/tree.png);
 *= require_tree .
 *= require_self
 */

<<<<<<< HEAD:app/assets/stylesheets/application.scss
 @import "../node_modules/bootswatch/dist/flatly/variables";
 @import "../node_modules/bootstrap/scss/bootstrap";
 @import "../node_modules/bootswatch/dist/flatly/bootswatch";



  h1 {
    text-align: center;
    margin: 10px;
    padding: 30px;
  }

  body { 
    background-image: image-url('/assets/game_background.jpg'); 
  }

  
=======
 
>>>>>>> d6bca1af81985b091fef057ab175fe6622f4b4c0:app/assets/stylesheets/application.css
