<div class="container" style="padding: 100px">
<div class="text-center">
  <div class="row">
    <div class="col">
    <div class="text-left">
     <%= image_tag "boy picking apple.png", width: 400,height: 500 %> <!-Image for background->
      </div>
      </div>

<div class="col">


<p>Hello <%= @resource.email %>!</p> <!-This auto comes with devise when setting up the gem everything below deals with confirmation instructions which we don't have setup in our project->

<p>Someone has requested a link to change your password. You can do this through the link below.</p>

<p><%= link_to 'Change my password', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>If you didn't request this, please ignore this email.</p>
<p>Your password won't change until you access the link above and create a new one.</p>
</div>