<div class="container" style="padding: 100px">
<div class="text-center">
  <div class="row">
    <div class="col">
    <div class="text-left">
     <%= image_tag "boy picking apple.png", width: 400,height: 500 %> <!-Image for background->
      </div>
      </div>

<div class="col">

<p>Hello <%= @resource.email %>!</p> <!-This auto comes with devise when setting up the gem everything below deals with confirmation instructions which we don't have setup in our project->

<p>Your account has been locked due to an excessive number of unsuccessful sign in attempts.</p>

<p>Click the link below to unlock your account:</p>

<p><%= link_to 'Unlock my account', unlock_url(@resource, unlock_token: @token) %></p>

</div>
